- model_class = Meeting
.page-header
  %h1= t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize

#members-select-container
  %h3
    Edit Attendance
    %span.meeting-name
  = render "members/member_select", city: @city

  %h4 Students - Click to Remove:
  #selected-members-container{:style => ""}
    None selected yet.

%br
= render :partial => 'form'

:javascript
  $(document).ready(function() {
    var elem = $("#selected-members-container"),
        mem = new Members(elem);

    $('#submit-btn').click(function(event) {
      event.preventDefault();

      var memberIds = [];
      $.each(mem.list(), function(ndx, item) {
        memberIds.push(item.id);
      });

      $.ajax({
        url: "#{url_for @meeting}.json",
        method: "put",
        data: {
          meeting: {
            meeting_type: $("#meeting_type_id").val(),
            date: $("#meeting_met").val(),
            instructor: $("#instructor").val(),
            students: memberIds.join(",")
          }
        }
      }).done(function(json) {
        console.log(json);
        window.location.href = "#{url_for @meeting}";
      });
    });

    mem.addMembers([#{@meeting.members.collect{|mem| "{id:" + mem.id.to_s + ", value: \"" + mem.full_name + "\"}"}.join(',')}]);

    $("#find-student .typeahead").on('typeahead:selected', function(evt, item) {
      mem.addMember(item);

      $("#find-student span input.tt-input").val("");
      $("#find-student span input.tt-input").focus();
    });
  });
