- model_class = MeetingMember
.page-header
  %h1= t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize

  #carousel.carousel.slide{:data => {:ride => "carousel"}}
    .carousel-inner{:role => "listbox"}
      .item.active
        #meeting-type-select-container
          %h3 1. Choose a Meeting Type and Time:
          .input-group
            %select#meeting-type.form-control
              %option{:value => ""}
                Class Type
              - MeetingType.all.each do |type|
                %option{:value => "#{type.id}"}
                  = type.name

          .input-group
            #datetimepicker.input-append.date
              %input#meeting-date{:data => {:format => "MM/dd/yyyy hh:mm PP"}, :type => "text", :value => "#{DateTime.now().strftime("%m/%d/%Y %I:%M %P")}"}

          .input-group
            %select#instructor.form-control
              - Member.where(is_teacher: true).each do |member|
                %option{:value => "#{member.id}"}
                  = member.full_name

          %a.next-btn{:href => "#"} Select Students &#x2771;

      .item
        #members-select-container
          %h3
            2. Select Who Attended
            %span.meeting-name
          = render "members/member_select"

          #selected-members-container

          %a.back-btn{:href => "#"} Back
          %a.next-btn{:href => "#"} Confirm &#x2771;

      .item
        #members-confirm-container
          %h3
            3. Confirm

          %a.back-btn{:href => "#"} Back
          %a.submit-btn{:href => "#"} Submit

  .create-form
    %form
      %input{:type => "hidden", :id => "meeting_type_id", :name => "meeting_type_id"}

:javascript
$(document).ready(function() {
  $("#carousel").carousel({
    interval: false,
    wrap: false,
    keyboard: false
  });
  
  $.each($(".next-btn"), function(ndx, btn) {
    btn.click(function() {
      $("#carousel").carousel('next');
    });
  });
  
  $.each($(".back-btn"), function(ndx, btn) {
    btn.click(function() {
      $("#carousel").carousel('previous');
    });
  });

  var elem = $("#selected-members-container");
  var mem = new Members(elem);

  $("#find-student .typeahead").on('typeahead:selected', function(evt, item) {
    members.addMember(item);
  });
});
