- model_class = MeetingMember
.page-header
  %h1= t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize

  #carousel.carousel.slide{:data => {:ride => "carousel"}}
    .carousel-inner{:role => "listbox"}
      .item.active
        #meeting-type-select-container
          %h3 1. Choose a Meeting Type and Time:
          .input-group
            %select#meeting-type.form-control
              %option{:value => ""}
                Class Type
              - MeetingType.all.each do |type|
                %option{:value => "#{type.id}"}
                  = type.name

          .input-group
            #datetimepicker.input-append.date
              %input#meeting-date{:data => {:format => "MM/dd/yyyy hh:mm PP"}, :type => "text", :value => "#{Date.today().strftime("%m/%d/%Y %I:%M %P")}"}

      .item
        #members-select-container
          %h3
            2. Select Who Attended
            %span.meeting-name
          = render "members/member_select"

  .create-form
    %form
      %input{:type => "hidden", :id => "meeting_type_id", :name => "meeting_type_id"}

:javascript
$(document).ready(function() {
  $("#carousel").carousel({
    interval: false,
    wrap: false,
    keyboard: false
  });
  
  $("#find-meeting-type .typeahead").on('typeahead:selected', function(evt, item) {
    $("#meeting_type_id").value = item.id;
    $.each($(".meeting-name"), function(key, value) {
      $(value).html(item.value);
    });
    $("#carousel").carousel('next');
  });

  $("#find-student .typeahead").on('typeahead:selected', function(evt, item) {
    alert("Selected " + item.id);
  });
});
