.page-header
  %h1 Classes Per Student

.container
  .form-inline
    .form-group
      %label{ "for" => "days" }
        Number of Days:
      %input.form-control#days{:type => 'number', :value => @days, :style => "width: 5em;"}
    .form-group
      %input#submit.btn.btn-primary{:type => 'submit', :value => 'Generate Report'}

.container
  %table.table.table-condensed
    %thead
      %tr
        %th Student
        %th{ style: "text-align:center"} Total
        %th{ style: "text-align:center"} Taught
        %th{ style: "text-align:center"} Assisted
        %th{ style: "text-align:center"} Took
    %tbody
      - @members_and_counts.each do |key, row|
        %tr
          %td
            = link_to row[:member].full_name, member_path(row[:member])
          %td{ style: "text-align:center"}= row[:total]
          %td{ style: "text-align:center"}= row[Role.teacher_role_id]
          %td{ style: "text-align:center"}= row[Role.assistant_role_id]
          %td{ style: "text-align:center"}= row[Role.student_role_id]

:javascript
  $(document).ready(function() {
    $("#submit").click(function(event) {
      event.preventDefault();
      var url = window.location.protocol + "//" + window.location.host + window.location.pathname + "?" +
        "days=" + String($("#days").val());

      window.location.href = url;
      return false;
    });
  });
