- date_format = "%Y-%m-%d" #%m/%d/%Y %I:%M %P
.page-header
  %h1 Classes Per Student

.container
  .form-group
    #datetimepicker.input-append.from_date
      %label{"for" => "from_date"}
        From:
        %input#from_date.form-control{:data => {:format => "MM/dd/yyyy"}, :type => "date-local", :value => "#{(DateTime.now - 7.days).in_time_zone('Pacific Time (US & Canada)').strftime(date_format)}"}
    #datetimepicker.input-append.to_date
      %label{"for" => "to_date"}
        To:
        %input#to_date.form-control{:data => {:format => "MM/dd/yyyy"}, :type => "date-local", :value => "#{(DateTime.now).in_time_zone('Pacific Time (US & Canada)').strftime(date_format)}"}
  .form-inline
    .form-group
      %label{ "for" => "days" }
        Number of Days:
      %input.form-control#days{:type => 'number', :value => @days, :style => "width: 5em;"}
  .form-group
    %input#submit.btn.btn-primary{:type => 'submit', :value => 'Generate Report'}

.container
  %table.table.table-striped.tablesorter#members-table
    %thead
      %tr
        %th Student
        %th{ style: "text-align:center"} Total
        %th{ style: "text-align:center"} Taught
        %th{ style: "text-align:center"} Assisted
        %th{ style: "text-align:center"} Took
    %tbody
      - @members_and_counts.each do |key, row|
        %tr
          %td
            = link_to row[:member].full_name, member_path(row[:member])
          %td{ style: "text-align:center"}= row[:total]
          %td{ style: "text-align:center"}= row[Role.teacher_role_id]
          %td{ style: "text-align:center"}= row[Role.assistant_role_id]
          %td{ style: "text-align:center"}= row[Role.student_role_id]

:javascript
  $(document).ready(function() {
    $("#submit").click(function(event) {
      event.preventDefault();
      var url = window.location.protocol + "//" + window.location.host + window.location.pathname + "?" +
        "days=" + String($("#days").val()) +
        "&from_date=" + $("#from_date").val() +
        "&to_date=" + $("#to_date").val();

      window.location.href = url;
      return false;
    });
  });

  $(document).ready(function() {
    $("#members-table").tablesorter();
  });
