- date_format = "%Y-%m-%d" #%m/%d/%Y %I:%M %P
.page-header
  %h1 Students per Class

.container
  .form-group
    #datetimepicker.input-append.from_date
      %label{"for" => "from_date"}
        From:
        %input#from_date.form-control{:data => {:format => "MM/dd/yyyy"}, :type => "date-local", :value => "#{(DateTime.now - 7.days).in_time_zone('America/Los_Angeles').strftime(date_format)}"}
    #datetimepicker.input-append.to_date
      %label{"for" => "to_date"}
        To:
        %input#to_date.form-control{:data => {:format => "MM/dd/yyyy"}, :type => "date-local", :value => "#{(DateTime.now).in_time_zone('America/Los_Angeles').strftime(date_format)}"}
  .form-inline
    .form-group
      %label{ "for" => "days" }
        Number of Days:
      %input.form-control#days{:type => 'number', :value => @days, :style => "width: 5em;"}
    .form-group
      %input#submit.btn.btn-primary{:type => 'submit', :value => 'Generate Report'}

.container
  %table.table.table-condensed
    %thead
      %tr
        %th Student
        %th # Classes
        %th Instructor
    %tbody
      - @meetings_and_counts.each do |tuple|
        %tr
          %td
            = link_to tuple[:meeting].pretty_name, meeting_path(tuple[:meeting])
          %td{ style: "text-align:center"}= tuple[:count]
          %td
            = link_to tuple[:meeting].instructor.full_name, member_path(tuple[:meeting].instructor)

:javascript
  $(document).ready(function() {
    $("#submit").click(function(event) {
      event.preventDefault();
      var url = window.location.protocol + "//" + window.location.host + window.location.pathname + "?" +
        "days=" + String($("#days").val()) +
        "&from_date=" + $("#from_date").val() +
        "&to_date=" + $("#to_date").val();

      window.location.href = url;
      return false;
    });
  });
