= form_for @belt, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .control-group
    = f.label :comment, :class => 'control-label'
    .controls
      = f.text_field :comment, :class => 'text_field'
  .control-group
    = f.label :is_active, :class => 'control-label'
    .controls
      = f.check_box :is_active, :class => 'check_box'
  .control-group
    = f.label :order_by, :class => 'control-label'
    .controls
      = f.text_field :order_by, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), |
      belts_path, :class => 'btn'                                  |
