!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Quantum Attendance"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    = stylesheet_link_tag "application", :media => "all"
    / For all other devices
    / Size should be 32 x 32 pixels
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application", 'data-turbolinks-track': 'reload'
    = javascript_include_tag "handlebars"
    = stylesheet_link_tag "//d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.0.css"
    = javascript_include_tag "//d26b395fwzu5fz.cloudfront.net/keen-dataviz-1.1.0.js"
    = javascript_include_tag "//d26b395fwzu5fz.cloudfront.net/keen-analysis-1.2.0.js"
    :javascript
      //!function(a,b){a("Keen","https://d26b395fwzu5fz.cloudfront.net/3.4.1/keen.min.js",b)}(function(a,b,c){var d,e,f;c["_"+a]={},c[a]=function(b){c["_"+a].clients=c["_"+a].clients||{},c["_"+a].clients[b.projectId]=this,this._config=b},c[a].ready=function(b){c["_"+a].ready=c["_"+a].ready||[],c["_"+a].ready.push(b)},d=["addEvent","setGlobalProperties","trackExternalLink","on"];for(var g=0;g<d.length;g++){var h=d[g],i=function(a){return function(){return this["_"+a]=this["_"+a]||[],this["_"+a].push(arguments),this}};c[a].prototype[h]=i(h)}e=document.createElement("script"),e.async=!0,e.src=b,f=document.getElementsByTagName("script")[0],f.parentNode.insertBefore(e,f)},this);
  %body{"style" => "margin-top: 45px"}
    = nav_bar fixed: :top, brand: "Quantum", responsive: true do
      = menu_group do
        = menu_item "Classes", meetings_path
        = menu_divider
        = menu_item "Members", members_path
        = menu_divider
        = drop_down "Reports" do
          = menu_item "Slacker Report", slacker_report_path
          = menu_item "Poor Attendance", poor_attendance_path
          = menu_item "Classes Per Student", classes_per_student_path
          = menu_item "People Per Class", people_per_class_path

      .navbar-form.navbar-right
        .form-group
          = select_tag :school_select, options_for_select(School.all.collect{|school| [school.name, school.slug]}.insert(0, ['All Schools', 'none']), @_current_school ? @_current_school.slug : nil), class: "form-control"

    .container-fluid
      .row
        .col-md-1
        .col-md-10
          .row
            = bootstrap_flash
            = yield
          .row{"style" => "padding-top: 10px;"}
            %footer
              %p © Quantum Martial Arts 2017
        .col-md-1
    / /container

:javascript
  $(document).ready(function() {
    $("#school_select").change(function() {
      var url = window.location.href;
      var schoolVal = $("#school_select").val();

      if (url.match(/school=/)) {
        url = replaceUrlParam(url, "school", schoolVal);
      }
      else {
        url += (url.match(/\?/) ? '&' : '?') + "school=" + $("#school_select").val();
      }
      
      window.location = url;
    });
  });

  function replaceUrlParam(url, paramName, paramValue) {
    var pattern = new RegExp('\\b('+paramName+'=).*?(&|$)');

    if(url.search(pattern)>=0){
      return url.replace(pattern,'$1' + paramValue + '$2');
    }

    return url + (url.indexOf('?')>0 ? '&' : '?') + paramName + '=' + paramValue 
  }
