!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "Quantum Attendance"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    = stylesheet_link_tag "application", :media => "all"
    / For all other devices
    / Size should be 32 x 32 pixels
    = favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'
    = javascript_include_tag "application"
    = javascript_include_tag "handlebars"
    :javascript
      !function(a,b){a("Keen","https://d26b395fwzu5fz.cloudfront.net/3.4.1/keen.min.js",b)}(function(a,b,c){var d,e,f;c["_"+a]={},c[a]=function(b){c["_"+a].clients=c["_"+a].clients||{},c["_"+a].clients[b.projectId]=this,this._config=b},c[a].ready=function(b){c["_"+a].ready=c["_"+a].ready||[],c["_"+a].ready.push(b)},d=["addEvent","setGlobalProperties","trackExternalLink","on"];for(var g=0;g<d.length;g++){var h=d[g],i=function(a){return function(){return this["_"+a]=this["_"+a]||[],this["_"+a].push(arguments),this}};c[a].prototype[h]=i(h)}e=document.createElement("script"),e.async=!0,e.src=b,f=document.getElementsByTagName("script")[0],f.parentNode.insertBefore(e,f)},this);
  %body
    .navbar.navbar-fluid-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => "#"} Quantum Martial Arts
          .container-fluid.nav-collapse
            %ul.nav
          / /.nav-collapse
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header Links
              %li= link_to "View/Edit Classes", meetings_path
              %li= link_to "Enter New Class", attendance_path
              %li= link_to "Members", members_path
              %li= link_to "New Member", new_member_path
              %li= link_to "Slacker Report", slacker_report_path
              %li= link_to "Poorly Attended Classes", poor_attendance_path
              %li= link_to "Classes per Student", classes_per_student_path
              %li= link_to "People per Class", people_per_class_path
              %li
                = select_tag :school_select, options_for_select(School.all.collect{|school| [school.name, school.slug]}.insert(0, ['All Schools', 'none']), @_current_school ? @_current_school.slug : nil)
          / /.well
        / /span
        .span9
          = bootstrap_flash
          = yield
      / /row
      %footer
        %p © Quantum Martial Arts 2015
    / /container

:javascript
  $(document).ready(function() {
    $("#school_select").change(function() {
      var url = window.location.href;
      var schoolVal = $("#school_select").val();

      if (url.match(/school=/)) {
        url = replaceUrlParam(url, "school", schoolVal);
      }
      else {
        url += (url.match(/\?/) ? '&' : '?') + "school=" + $("#school_select").val();
      }
      
      window.location = url;
    });
  });

  function replaceUrlParam(url, paramName, paramValue) {
    var pattern = new RegExp('\\b('+paramName+'=).*?(&|$)');

    if(url.search(pattern)>=0){
      return url.replace(pattern,'$1' + paramValue + '$2');
    }

    return url + (url.indexOf('?')>0 ? '&' : '?') + paramName + '=' + paramValue 
  }
