= form_for @member, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    = f.label :first_name
    = f.text_field :first_name, :class => 'form-control'
  .form-group
    = f.label :last_name
    = f.text_field :last_name, :class => 'form-control'
  .form-group
    = f.label :belt_id
    = f.select(:belt_id, Belt.all.collect{|belt| [belt.name, belt.id]}, {}, {class: "form-control"})
  .form-group
    = f.label :school_id
    = f.select(:school_id, School.all.collect{|belt| [belt.name, belt.id]}, {}, {class: "form-control"})
  .form-group
    = f.label :comment
    = f.text_field :comment, :class => 'form-control'
  .form-group
    .checkbox
      %label
        = f.check_box :is_active, :class => 'check_box'
        Is Active
  .form-group
    .checkbox
      %label
        = f.check_box :is_teacher, :class => 'check_box'
        Is Teacher
  .form-group
    .checkbox
      %label
        = f.check_box :is_quark, :class => 'check_box'
        Is Quark
  .form-group
    .checkbox
      %label
        = f.check_box :is_kid, :class => 'check_box'
        Is Kid
  .form-group
    .checkbox
      %label
        = f.check_box :is_teen, :class => 'check_box'
        Is Teen
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), |
      members_path, :class => 'btn'                                |
